<ul class="social-media-list">
    <li>
        <a href="https://github.com/jesper-sk">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg>
            <span class="username">jesper-sk</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/Leander-van-Boven">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg>
            <span class="username">Leander-van-Boven</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/RamonMeffert">
            <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg>
            <span class="username">RamonMeffert</span>
        </a>
    </li>
</ul>